header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

#logoJornadaViagemId {
  display: inline-block;
  width: 68px;
  height: 64px;
}

#divNavigationId {
  margin-top: 25px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}

nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

.list-link {
  list-style: none;
}

.list-link li {
  margin: 16px 0;
}

.list-link li a {
  color: var(--text-secundary-color);
  text-decoration: none;
}
