.hero-img {
  height: 400px;
  width: 100%;
  background-image: url("../img/banner-home-page-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background-image: url("../img/banner-hero-tablet1.png");
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    background-image: url("../img/banner-hero-desktop.png");
    background-size: cover;
  }
}
